<div class="pageheader">

	<h2><i class="fa fa-tachometer"></i> Dashboard
            <span>// 当前位置</span></h2>

	<div class="breadcrumbs">
		<ol class="breadcrumb">
			<li>You are here</li>
			<li>
				<a href="index.html">公租房</a>
			</li>
			<li class="active">用户中心</li>
		</ol>
	</div>

</div>
<div class="row cards">

	<div class="card-container col-lg-3 col-sm-6 col-sm-12">
		<div class="card card-redbrown hover">
			<div class="front">

				<div class="media">
					<span class="pull-left">
                        <i class="fa fa-users media-object"></i>
                      </span>

					<div class="media-body">
						<small>申请进度</small>
						<h2 class="media-heading animate-number" data-value="3659" data-animation-duration="1500">待申请</h2>
					</div>
				</div>

				<div class="progress-list">
					<div class="details">
						<div class="title">材料 完整度</div>
					</div>
					<div class="status pull-right bg-transparent-black-1">
						<span class="animate-number" data-value="83" data-animation-duration="1500">0</span>%
					</div>
					<div class="clearfix"></div>
					<div class="progress progress-little progress-transparent-black">
						<div class="progress-bar animate-progress-bar" data-percentage="83%"></div>
					</div>
				</div>

			</div>
			<div class="back">
				<a href="#/">
					<i class="fa fa-pencil fa-4x"></i>
					<span>完善材料</span>
				</a>
			</div>
		</div>
	</div>

	<div class="card-container col-lg-3 col-sm-6 col-sm-12">
		<div class="card card-greensea hover">
			<div class="front">

				<div class="media">
					<span class="pull-left">
                        <i class="fa fa-usd media-object"></i>
                      </span>

					<div class="media-body">
						<small>收费总额</small>
						<h2 class="media-heading animate-number" data-value="169541" data-animation-duration="1500">0</h2>
					</div>
				</div>

				<div class="progress-list">
					<div class="details">
						<div class="title">缴费完成率</div>
					</div>
					<div class="status pull-right bg-transparent-black-1">
						<span class="animate-number" data-value="42" data-animation-duration="1500">0</span>%
					</div>
					<div class="clearfix"></div>
					<div class="progress progress-little progress-transparent-black">
						<div class="progress-bar animate-progress-bar" data-percentage="42%"></div>
					</div>
				</div>

			</div>
			<div class="back">
				<a href="#/apply">
					<i class="fa  fa-list fa-4x"></i>
					<span>查看明细</span>
				</a>
			</div>
		</div>
	</div>
	<div class="card-container col-lg-3 col-sm-6 col-sm-12">
		<div class="card card-greensea hover">
			<div class="front">

				<div class="media">
					<span class="pull-left">
                        <i class="fa fa-wrench media-object"></i>
                      </span>

					<div class="media-body">
						<small>报修次数</small>
						<h2 class="media-heading animate-number" data-value="169541" data-animation-duration="1500">0</h2>
					</div>
				</div>

				<!--<div class="progress-list">
                      <div class="details">
                        <div class="title">维修进度</div>
                      </div>
                      <div class="status pull-right bg-transparent-black-1">
                        <span class="animate-number" data-value="42" data-animation-duration="1500">0</span>%
                      </div>
                      <div class="clearfix"></div>
                      <div class="progress progress-little progress-transparent-black">
                        <div class="progress-bar animate-progress-bar" data-percentage="42%"></div>
                      </div>
                    </div>-->

			</div>
			<div class="back">
				<a href="#/">
					<i class="fa  fa-list fa-4x"></i>
					<span>报修记录</span>
				</a>
			</div>
		</div>
	</div>
	<div class="card-container col-lg-3 col-sm-6 col-sm-12">
		<div class="card card-greensea hover">
			<div class="front">

				<div class="media">
					<span class="pull-left">
                        <i class="fa fa-building-o media-object"></i>
                      </span>

					<div class="media-body">
						<small>房源总数</small>
						<h2 class="media-heading animate-number" data-value="169541" data-animation-duration="1500">0</h2>
					</div>
				</div>

				<div class="progress-list">
					<div class="details">
						<div class="title">选房进度</div>
					</div>
					<div class="status pull-right bg-transparent-black-1">
						<span class="animate-number" data-value="42" data-animation-duration="1500">0</span>%
					</div>
					<div class="clearfix"></div>
					<div class="progress progress-little progress-transparent-black">
						<div class="progress-bar animate-progress-bar" data-percentage="42%"></div>
					</div>
				</div>

			</div>
			<div class="back">
				<a href="#/apply">
					<i class="fa fa-th-large fa-4x"></i>
					<span>查看房源</span>
				</a>
			</div>
		</div>
	</div>
</div>


<div ng-controller="FormDemoCtrl" class="panel-body ng-scope">
      <form form-wizard="" steps="4" novalidate="" ng-submit="alertSubmit()" class="ng-pristine ng-valid ng-scope">
         <div class="form-wizard wizard-horizontal">
            <!-- START wizard steps indicator-->
            <ol class="row">
               <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)" class="col-md-3">
                  <h4>Login</h4>
                  <small class="text-muted">Duis volutpat nunc at ligula tincidunt non aliquam.</small>
               </li>
               <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)" class="col-md-3">
                  <h4>Personal</h4>
                  <small class="text-muted">Nulla pharetra imperdiet sapien ac faucibus.</small>
               </li>
               <li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)" class="col-md-3">
                  <h4>Contact</h4>
                  <small class="text-muted">Sed elementum lorem dolor, id fermentum metus.</small>
               </li>
               <li ng-class="{'active':wizard.active(4)}" ng-click="wizard.go(4)" class="col-md-3">
                  <h4>Done!</h4>
                  <small class="text-muted">Nullam sit amet magna vestibulum libero.</small>
               </li>
            </ol>
            <!-- END wizard steps indicator-->
            <!-- START Wizard Step inputs -->
            <div ng-show="wizard.active(1)">
               <fieldset>
                  <legend>Login</legend>
                  <!-- START row -->
                  <div class="row">
                     <div class="col-md-4">
                        <div class="form-group">
                           <label>Username</label>
                           <div class="controls">
                              <input type="text" name="username" placeholder="Your nick here" class="form-control">
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <label>Password</label>
                           <div class="controls">
                              <input type="password" name="password" placeholder="Your password" class="form-control">
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <label>Retype Password</label>
                           <div class="controls">
                              <input type="password" name="password2" placeholder="Confirmed password" class="form-control">
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- END row -->
               </fieldset>
               <ul class="pager">
                  <li class="next"><a href="#" ng-click="wizard.go(2)">Next <span>→</span></a>
                  </li>
               </ul>
            </div>
            <!-- END Wizard Step inputs -->
            <!-- START Wizard Step inputs -->
            <div ng-show="wizard.active(2)">
               <fieldset>
                  <legend>Personal</legend>
                  <!-- START row -->
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                           <label>First Name</label>
                           <input type="text" name="first-name" placeholder="John" class="form-control">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label>Last Name</label>
                           <input type="text" name="last-name" placeholder="Snow" class="form-control">
                        </div>
                     </div>
                  </div>
                  <!-- END row -->
               </fieldset>
               <ul class="pager">
                  <li class="previous">
                     <a href="#" ng-click="wizard.go(1)">
                        <span>← Previous</span>
                     </a>
                  </li>
                  <li class="next"><a href="#" ng-click="wizard.go(3)">Next <span>→</span></a>
                  </li>
               </ul>
            </div>
            <!-- END Wizard Step inputs -->
            <!-- START Wizard Step inputs -->
            <div ng-show="wizard.active(3)">
               <fieldset>
                  <legend>Contact</legend>
                  <!-- START row -->
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                           <label>Email</label>
                           <input type="text" name="email" placeholder="john@snow.com" class="form-control">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label>Phone</label>
                           <input type="text" name="phone" placeholder="11-2345-6789" class="form-control">
                        </div>
                     </div>
                  </div>
                  <!-- END row -->
               </fieldset>
               <ul class="pager">
                  <li class="previous">
                     <a href="#" ng-click="wizard.go(2)">
                        <span>← Previous</span>
                     </a>
                  </li>
                  <li class="next"><a href="#" ng-click="wizard.go(4)">Next <span>→</span></a>
                  </li>
               </ul>
            </div>
            <!-- END Wizard Step inputs -->
            <!-- START Wizard Step inputs -->
            <div ng-show="wizard.active(4)">
               <div class="jumbotron">
                  <h1>Done!</h1>
                  <p>In vulputate mattis ipsum vitae vehicula. Praesent at arcu non arcu convallis pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <p>
                     <input type="submit" value="You can Proceed Now" class="btn btn-info btn-lg">
                  </p>
               </div>
               <ul class="pager">
                  <li class="previous">
                     <a href="#" ng-click="wizard.go(3)">
                        <span>← Previous</span>
                     </a>
                  </li>
               </ul>
            </div>
            <!-- END Wizard Step inputs -->
         </div>
      </form>
   </div>